* {
  box-sizing: border-box;
}
body {
  background-color: #303F9F;
}

.container-1 {
  width: 100%;
  border: black 5px solid;
  display:flex;

}

#configure {
  flex:1;

}

#configure .setting{
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  border: solid yellow 2px;
}

.container-2{
  border: solid green 3px;
  flex:2;
  display: flex;
}


#display{
  background-color:#3F51B5;
  text-align: center;
  border: purple 2px solid;
  margin:auto;
}

#display h1{
  border: red solid 2px;
  font-size: 500%;
}

#buttons {
  display: flex;
  justify-content: space-around;
}

#buttons p{
  flex-basis: 20%;
  margin: 30px;
  flex:1;
  font-size: 300%;
}
